/* Ensure sane defaults */

body {
  padding: 0;
  margin: 0;
}

/* Top-level layout */
#side {
  float: right;
}
#main {
  overflow: hidden;
}

#body, #main, #status, #side {
  min-height: 40px;
}

#body {
  min-width: 1350px;
}

#status {
  width: 100%;
  font-size: smaller;
}

#side {
  width: 650px;
  font-size: smaller;
}

/* Loadinfo panel */

#loadinfo {
  width: 647px;
/*   height: 400px; */
  border: 1px grey solid;
  margin: auto;
}

/* Hide charts while loadinfo is shown */

.vis-hide {
  display: none;
  opacity: 0;
}

/* Loading bars */
.progressbar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
}

.progressbar.loading {
  opacity: 1.0;
}

.progressbar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
  white-space: nowrap;
}

/* Utility */
.fader {
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

.help {
  cursor: help;
}
