/* Ensure sane defaults */
html, body, #vis, #main, .side {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}

/* Top-level layout */
.side {
  float: right;
  border-left: 1px solid lightgray;
}
#main {
  overflow: hidden;
}

#mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .8;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  top: 0;
}

body, #main, #status, .side {
  min-height: 40px;
}

body {
  min-width: 1350px;
}

#status {
  width: 100%;
  font-size: smaller;
}

/* Columns */

.med {
  width: 400px;
}

.thin {
  width: 250px;
}

#main, .side {
  font-size: smaller;
}

/* Titles */
h3 {
  margin: 0;
  padding: 0.3em 0.8em;
}

/* Loadinfo panel */

#loadinfo {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 647px;
  height: 570px;
  border: 1px grey solid;
  margin: auto;
  background-color: #fff;
  padding: 20px;
}

/* Hide charts while loadinfo is shown */

.vis-hide {
  display: none;
  opacity: 0;
}

/* Loading bars */
.progressbar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
}

.progressbar.loading {
  opacity: 1.0;
}

.progressbar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
  white-space: nowrap;
}

/* Stat chart */

#stat-chart .border-line {
  fill: none;
  stroke: #ccc;
  opacity: .5;
  shape-rendering: crispEdges;
}

#stat-chart text {
  font: 10px sans-serif;
}

#stat-chart .x-axis-dim-label text {
  text-anchor: middle;
}
#stat-chart .y-axis-dim-label text {
  text-anchor: end;
}

#stat-chart text.dim-label {
  font: 12px sans-serif;
  font-weight: bold;
}

/* User list */

#connection-warning {
  display: none;
  position: absolute;
  border: 2px black solid;
  background: #fccccc;
  top: 0;
  right: 0;
  padding: 1em;
}

#connect-status {
  border-left: 1px black solid;
  border-bottom: 1px black solid;
  display: none;
  height: 200px;
  overflow-y: scroll;
}

#users-status .channel {
  border: 1px gray solid;
  margin: 0 2em;
}

#users-status a {
  margin-left: 1em;
}

#users-status ul {
  padding-left: 20px;
}

#users-status li.user {
  list-style: none;
}

/* Charts */

.dc-chart, .mv-chart {
  border-bottom: 1px #eee solid;
  float: left;
}

/* Utility */
.fader {
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.help {
  cursor: help;
}
