/* Ensure sane defaults */
html, body, #vis, #main, .side {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}

/* Top-level layout */
.side {
  float: right;
  border-left: 1px solid lightgray;
}
#main {
  overflow: hidden;
}

#mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .8;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  top: 0;
}

body, #main, #status, .side {
  min-height: 920px;
}

body {
  min-width: 1350px;
}

#status {
  width: 100%;
  font-size: smaller;
}

/* Columns */

.med {
  width: 400px;
}

.thin {
  width: 250px;
}

/* Titles */
h3 {
  margin: 0;
  padding: 0.3em 0.8em;
}

/* Loadinfo panel */

#loadinfo {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 777px;
  height: 650px;
  border: 1px grey solid;
  margin: auto;
  background-color: #fff;
  padding: 20px;
}

/* Hide charts while loadinfo is shown */

.vis-hide {
  display: none;
  opacity: 0;
}

/* Loading bars */
.progressbar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
}

.progressbar.loading {
  opacity: 1.0;
}

.progressbar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
  white-space: nowrap;
}

/* Stat chart */

#stat-chart .border-line {
  fill: none;
  stroke: #ccc;
  opacity: .5;
  shape-rendering: crispEdges;
}

#stat-chart text {
  font: 10px sans-serif;
}

#stat-chart .x-axis-dim-label text {
  text-anchor: middle;
}
#stat-chart .y-axis-dim-label text {
  text-anchor: end;
}

#stat-chart text.dim-label, .axis-label {
  font: 12px sans-serif;
  font-weight: bold;
}

.axis-label {
  height: 0;
  width: 0;
  position: relative;
  white-space: nowrap;
}

.x-axis-label {
  left: 50%;
}

.y-axis-label {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/* Chart meta info */

p.info {
  font: 10px sans-serif;
  color: #777;
  margin: 0 .4em;
  padding: 0;
}

p.filterinfo {
  font: 11px sans-serif;
  color: #555;
  margin: .4em;
  padding: 0;
  /* Specify size and block specifically, so that the space needed is always reserved */
  display: block;
  height: 11px;
}

/* User list */

#connection-warning {
  display: none;
  position: absolute;
  border: 2px black solid;
  background: #fccccc;
  top: 0;
  right: 0;
  padding: 1em;
}

#connect-status {
  border-left: 1px black solid;
  border-bottom: 1px black solid;
  display: none;
  height: 208px;
  overflow-y: scroll;
}

#connect-status a {
  font-size: smaller;
}

#users-status .channel {
  border: 1px gray solid;
  margin: 0 2em;
}

#users-status .channel:before {
  content: "channel";
  font: 10px sans-serif;
  color: "#888";
  padding: 0;
  margin: 0;
  display: block;
}

#users-status a {
  margin-left: 1em;
}

#users-status ul {
  padding-left: 20px;
}

#users-status li.user {
  list-style: none;
}

/* Charts */

.dc-chart, .mv-chart {
  border-bottom: 1px #eee solid;
  float: left;
}

/* Utility */
.fader {
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.help {
  cursor: help;
}

/* Non-layout critical style niceties */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #0066aa;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 6px 12px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 13px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

.disabled-button, .disabled-button:hover, .disabled-button:active {
  border-top: 1px solid #999;
  background: #777;
  text-decoration: none;
  color: white;
}

